
* {margin:2px; padding:20px; font-family:serif;}


* {
    box-sizing: border-box;
}

body {
    background-color: #bac2b7;
}

header img {
    height: 20%;
    width: 10%;
    position: absolute;
    top: -3%;
    left: 3%; 

}

.header {
    background-color: white;
    position:absolute;
    top:0%;
    left:0%;
    right: 0%;
    height: 0%;
}

.kolonne {
    float:left;
    width: 32%;
    padding: 5px;

}

.row:after {
    content:"";
    display:grid;
    clear: both;
}




section {
    width: 100%;
    height: 700px;
    float:center;

}

#pageA {background:#bac2b7;}
#pageB {background:#a4af9a;}


h2 {
    font-size: 20px;
    color: grey;
    font-family: serif;
}

p {
    font-size:10px;
    font-family: serif; 
    color: dimgray;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #a4af9a;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #a4af9a;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color:#a4af9a;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color:#a4af9a;
    font-size: 0.875em;
}

input::placeholder, textarea::placeholder {
    color:  #a4af9a;
    font-size: 0.875em;
}

input:focus::placeholder, textarea:focus::placeholder {
    color:  #a4af9a;
}

input::-ms-placeholder, textarea::-ms-placeholder {
    color:  #a4af9a;
    font-size: 0875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color:  #a4af9a;
}

/*hover placeholder*/

input:hover::-webkit-input-placeholder, textarea:hover::webkit-input-placeholder {
    color: #a4af9a;
    font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color:  #a4af9a;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color:#a4af9a;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color:#a4af9a;
    font-size: 0.875em;
}

input:hover::placeholder,textarea:hover::placeholder {
    color:#a4af9a;
    font-size: 0.875em;
}

input:hover:focus::placeholder,textarea:hover:focus::placeholder {
    color:#a4af9a;
}


input:hover::placeholder,textarea:hover::placeholder {
    color:#a4af9a;
    font-size: 0.875em;
}

input:hover:focus::placeholder,textarea:hover:focus::placeholder {
    color:#a4af9a;
}

body {
    font-family: serif;
    background: white;
    color: #a4af9a;
}


#form {
    position: relative;
    width: 40%;
    margin: 30px auto 50px auto;
}

input {
    font-family: serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;


background:transparent; 
outline:none;
color:#bac2b7; 
    
    border: solid 1px ligthgrey;
    border-bottom: none;

    transition: all 0.3 ease-in-out;
        -webkit-transition: all 0.3sf ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
}

input:hover {
    color: grey;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #a4af9a;
    font-family: serif;
    font-size: 0.875em;
    
    border: solid 1px lightgrey;
    
     transition: all 0.3 ease-in-out;
        -webkit-transition: all 0.3 ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
}

textarea:hover {
    color: grey;
}

#submit {
    width:476px;
   
    
    padding: 0;
    margin: 10px 0px 0px 0px;
    
    font-family: serif;
    font-size: 0.875;
    
    outline: none;
    cursor: pointer;
    
    border: solid 1px lightgrey;
    border-top: none;
}

#submit:hover {
    background: #a4af9a;
    color: grey;
}

/*mobil*/

@media only screen (max-width:620px) {
    .kolonne, #pageA, #pageB, .section, .header img, .col-25, .col-75, .input {
        width: 100%;
    }
   
    
}

@media screen and (max-width:800px) {
    .kolonne, #pageA,#pageB,.section, .header img, .col-25, .col-75, .input {
        width: 100%;
}
}
