
* {margin:5px; padding:20px; font-family:serif;}


* {
    box-sizing: border-box;
}


header img {
    height: 20%;
    width: 10%;
    position: absolute;
    top: -3%;
    left: 3%; 

}

.header {
    background-color: white;
    position:absolute;
    top:0%;
    left:0%;
    right: 0%;
    height: 0%;
}

.kolonne {
    float:left;
    width: 32%;
    padding: 5px;

}

.row:after {
    content:"";
    display:grid;
    clear: both;
}

@media screen and (max-width:600px) {
    .kolonne {
        width: 100%;
    }
    
    
}



section {
    width: 100%;
    height: 600px;
    float:center;

}

#pageA {background:#bac2b7;}
#pageB {background:#a4af9a;}





h2 {
    font-size: 20px;
    color: grey;
    font-family: serif;
}

p {
    font-size:10px;
    font-family: serif; 
    color: dimgray;
}
